{% load static %}
{% load i18n %}
<div id="carousel-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
  <div class=" p-4 w-full 2xl:max-w-7xl xl:max-w-4xl lg:max-w-3xl lg:max-w-2xl md:mt-0 mt-10 h-full md:h-auto">
      <div class="">
          <button type="button" class="absolute top-3 ltr:right-2.5 rtl:left-2.5 text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xl p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="carousel-modal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Close modal</span>
          </button>
            <div id="controls-carousel" class="relative" data-carousel="static">
              <!-- Carousel wrapper -->
              <div class="relative min-h-[90vh] overflow-hidden md:h-96">
                {% for item in gallery2 %}
                  <!-- Item 1 -->
                  <div class="flex flex-col justify-end  h-[80vh] items-center duration-700 ease-in-out absolute inset-0 transition-all transform -translate-x-full rounded-lg z-10 bg-[url({% static item.image %})] bg-no-repeat bg-center bg-contain" data-carousel-item="active">
                    <p class="flex flex-col items-center -mb-20 text-white">
                      <span class="font-bold text-3xl maw-w-1/2 drop-shadow-[0px_0px_1px_rgba(0,0,0,0.8)] stroke-1">{% translate 'Matan'%}</span>
                      <span class="text-2xl drop-shadow-[0px_0px_1px_rgba(0,0,0,0.8)] stroke-1">{% translate 'Great wedding ever!!!'%}</span>
                    </p>
                  </div>
                {% endfor %}
              </div>
              <!-- Slider controls -->
              <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev="">
                  <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                      <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                      <span class="sr-only">Previous</span>
                  </span>
              </button>
              <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next="">
                  <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                      <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                      <span class="sr-only">Next</span>
                  </span>
              </button>
            </div>
      </div>
  </div>
</div>
