{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'css/masonry.css' %}">
<div>
  <div class="flex flex-col md:flex-row ltr:md:space-x-3 ltr:space-x-0 space-y-4 md:space-y-0  mb-10">
    <div class="flex-1">
      <input type="text" class="flex flex-col mx-auto text-center p-4 lg:w-1/2 w-full text-[#8A8A8A] bg-white rounded-lg border border-[#ADADAD] sm:text-lg focus:ring-[#FFB4C6] focus:outline-none focus:border-[#FFB4C6]" placeholder="Enter sender name to filter">
    </div>
    {% if type == 'owner' %}
    <a href="/shared_gallery" type="button" class="flex flex-row rtl:md:mr-3 justify-center ltr:space-x-3 items-center text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-lg px-5 md:py-1 py-3 text-center transition transform hover:-translate-y-1">
      <img src="{% static "images/share.png" %}" class="w-8 h-8" alt="Share">
      <aspan class="rtl:mr-3">{% translate 'Share Gallery'%}</aspan>
    </a>
    {% endif %}
  </div>
  <div id="gallery-images" class=" pswp-gallery masonry">
    {% for item in gallery1 %}
      {% include "commons/gallery_item.html" with galleryImage=item isFavorite=item.isFavorite galleryOwner=type %}
    {% endfor %}
    {% include "commons/loading_effect.html" %}
  </div>
</div>

<script type="module" src="{% static '/js/photoswipe.js' %}"></script>

