<div class="w-full flex flex-row items-center justify-center space-x-2 w-full bg-[#EEEEEE] h-[180px] rounded-lg wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="1s">
  <span class="bg-[#777777] w-3 h-3 rounded-full wow animate__animated animate__fadeIn animate__infinite" data-wow-duration="2s" data-wow-delay=".3s"></span>
  <span class="bg-[#929191] w-3 h-3 rounded-full wow animate__animated animate__fadeIn animate__infinite" data-wow-duration="2s" data-wow-delay=".6s"></span>
  <span class="bg-[#ADADAD] w-3 h-3 rounded-full wow animate__animated animate__fadeIn animate__infinite" data-wow-duration="2s" data-wow-delay=".9s"></span>
  <span class="bg-[#C7C7C7] w-3 h-3 rounded-full wow animate__animated animate__fadeIn animate__infinite" data-wow-duration="2s" data-wow-delay="1.2s"></span>
</div>