{% load static %}
{% load i18n %}
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="z-50 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
    <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <button type="button" id="loginCloseBtn" class="absolute top-3 ltr:right-2.5 rtl:left-2.5  text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="py-6 px-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-[#404040]">{% translate 'Sign in to our platform'%}</h3>
                <form class="space-y-6" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-base">{% translate 'Your email'%}</label>
                        <input type="email" name="email" id="email" class="border border-[#ADADAD] text-[#8A8A8A] text-base rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-4" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-base">{% translate 'Your password'%}</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="border border-[#ADADAD] text-[#8A8A8A] text-base rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-4" required>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start ltr:space-x-2">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value="" class="w-4 h-4 bg-gray-50 rounded border border-[#FFB4C6] focus:ring-3 focus:ring-[#FFB4C6]" required>
                            </div>
                            <label for="remember" class="rtl:mr-2 text-base font-medium text-[#8A8A8A]">{% translate 'Remember me'%}</label>
                        </div>
                        <a href="#" class="text-base text-[#FFB4C6] hover:underline">{% translate 'Lost Password?'%}</a>
                    </div>
                    <button type="submit" class="w-full text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-lg px-5 py-4 text-center transition transform" onclick="window.location.href='/gallery'">Login</button>
                    <div class="flex justify-center ltr:space-x-1 text-base font-medium text-[#8A8A8A] text-center">
                      <span>{% translate 'Not registered?'%}</span> 
                      <button class="rtl:mr-1 text-[#FFB4C6] hover:underline" onclick="closeModal('loginCloseBtn')" data-modal-toggle="register-modal">{% translate 'Create account'%}</button>
                    </div>
                    <button type="button"
                    class="flex mx-auto ltr:space-x-4 text-[#8A8A8A] bg-white shadow-[0px_0px_6px_rgba(0,0,0,0.19)] focus:outline-none rounded-lg text-lg px-5 py-4 text-center transition transform hover:-translate-y-1">
                    <img src="{% static "images/google.svg" %}" alt="google logo">
                    <span class="rtl:mr-4">{% translate 'Sign In With Google'%}</span>
                  </button>
                </form>
            </div>
        </div>
    </div>
</div> 
