{% load static %}
{% load i18n %}
{% load l10n %}
<div id="add-guests-list" tabindex="-1"
  class="z-50 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
  <div id="modal-wrapper" class="relative p-4 w-full xl:max-w-3xl lg:max-w-xl md:max-w-md max-w-sm  h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <button type="button"
        id="guests-close-btn"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="py-6 px-6 lg:px-8">
        <p class="flex flex-col items-center uppercase font-bold text-[#FFB4C6] text-5xl mb-8">
          {% translate 'Add Guests'%}
        </p>
        <p id="header-message" class="text-[#8A8A8A] text-center text-xl my-8 hidden">
         <span>{% translate 'Please select the' %}</span> 
         <span id="header-column-name" class="font-bold">{% translate 'Name' %}</span>
         <span>{% translate 'column' %}</span> 
        </p>
        <form id="upload-form"  class="space-y-8" action="#">
          <div class="flex flex-col w-full">
              <div class="upload-files flex flex-col justify-center items-center w-full rounded-lg border-2 border-[#CFD8DC] border-dashed cursor-pointer">
                <div class="body flex flex-col justify-center items-center py-8 space-y-6 w-full" id="drop">
                  <button id="triggerFile"><img src="{% static 'images/upload.svg' %}"></button>
                <p class="pointer-none text-sm rtl:mr-4 text-[#8A8A8A]">{% translate 'Drag and drop a CSV or Excel file Or CLICK to choose from file'%}</p>
                    <input type="file" id="uploadTable" accept=".xlsx, .xls, .csv" class="hidden"  />
                </div>
                <footer>
                <div class="list-files">
                  <!--   template   -->
                </div>
                </footer>
              </div>
        </div> 
        <div class="flex ltr:space-x-4">
            <button
            id="uploadFile"
            type="button"
            class="rtl:mr-4 uppercase w-full text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-lg px-5 py-4 text-center transition transform">
            {% translate 'Upload'%} </button>
        </div>
        </form>
        <div>
          <div id="table-data">
          </div>
          <p id="footer-message" class="text-[#FF547D] text-center text-xl my-8 hidden">
            <span>{% translate 'You choose' %}</span> 
            <span id="column-name-choosen" class="font-bold">{% translate '“First name”' %}</span>
            <span>{% translate 'as the' %}</span> 
            <span id="column-name" class="font-bold">{% translate 'Name' %}</span>
            <span>{% translate 'column' %}</span> 
          </p>
          <div id="table-btn" class="hidden mt-8 space-x-3 justify-center">
            <div id="lastNameContainer" class="flex flex-col items-center space-y-3 w-1/2">
              <span class="text-sm text-[#8A8A8A]">{% translate 'Did you choose only the first name and want the full name?'%}</span>
              <button
              id="lastNameSelect"
              type="button"
              class="importar uppercase w-full text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-base px-5 py-4 text-center transition transform">
              {% translate 'Continue to select Last name'%} </button>
            </div>
            <div id="phoneContainer" class="flex flex-col items-center space-y-3 w-1/2">
              <span class="text-sm text-[#8A8A8A]">{% translate 'Did you choose the full name?'%}</span>
              <button
              id="phoneNumberSelect"
              type="button"
              class="rtl:mr-4 uppercase w-full text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-base px-5 py-4 text-center transition transform">
              {% translate 'Continue to select Phone number'%} </button>
            </div>
            <button
            id="finishButton"
            type="button"
            class="hidden justify-center w-1/2 rtl:mr-4 uppercase w-full text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-base px-5 py-4 text-center transition transform">
            {% translate 'Finish'%} </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

 const sl = document.querySelector.bind(document);

 let App = {};
 App.init = function() {

   let files = "";
   //Init
   function handleFileSelect(files) {
     let template = ""
     if (files && files.name) {
       template = `<div class="file flex justify-center flex-col file--0">
        <div class="name"><span>${files.name}</span></div>
        <div class="flex w-full items-center justify-center"><div class="progress w-2/3 ltr:mr-4 rtl:ml-4 bg-gradient-to-r from-[#e91e639c] to-[#d8e8f8] active"></div>
        <div class="done">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000">
        <g><path id="path" d="M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490c270.6,0,490-219.4,490-490C990,229.4,770.6,10,500,10z M500,967.7C241.7,967.7,32.3,758.3,32.3,500C32.3,241.7,241.7,32.3,500,32.3c258.3,0,467.7,209.4,467.7,467.7C967.7,758.3,758.3,967.7,500,967.7z M748.4,325L448,623.1L301.6,477.9c-4.4-4.3-11.4-4.3-15.8,0c-4.4,4.3-4.4,11.3,0,15.6l151.2,150c0.5,1.3,1.4,2.6,2.5,3.7c4.4,4.3,11.4,4.3,15.8,0l308.9-306.5c4.4-4.3,4.4-11.3,0-15.6C759.8,320.7,752.7,320.7,748.4,325z"</g>
        </svg>
        </div>
        </div></div>`;
     }

     $("#drop").addClass("hidden");
     $(".upload-files footer").addClass("hasFiles");
     $(".importar").addClass("active");

     setTimeout(() => {
       $(".list-files").html(template);
     }, 200);

     if (template !== "") {
       setTimeout(() => {
         sl(".file--0").querySelector(".progress").classList.remove("active");
         sl(".file--0").querySelector(".done").classList.add("anim");
       }, 1000);
     }
   }

   function convertExcelFileToHtmlTable() {
     $('#table-data').html('');
     $("#upload-form").addClass("hidden");
     $("#table-btn").removeClass("hidden");
     $("#header-message").removeClass("hidden");
     $("#table-btn").addClass("flex");
     $("#modal-wrapper").removeClass("xl:max-w-3xl");
     $("#modal-wrapper").addClass("xl:max-w-7xl");
     var reader = new FileReader();
     reader.readAsArrayBuffer(files);
     reader.onload = function(event) {
       var data = new Uint8Array(reader.result);
       var work_book = XLSX.read(data, {
         type: 'array'
       });
       var sheet_name = work_book.SheetNames;
       var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {
         header: 1
       });
       var table_output = '<table id="guests-table" class="w-full text-sm text-left text-gray-5000">';
       if (sheet_data.length > 0) {
         for (var row = 0; row < sheet_data.length; row++) {
           table_output += '<tr class="border-b border-gray-200">';
           for (var cell = 0; cell < sheet_data[row].length; cell++) {
             if (row == 0) {
               table_output += '<th class="py-3 px-3 cursor-pointer table-head-value" data-cell="' + cell + '" data-name="' + sheet_data[0][cell] + '">' + sheet_data[row][cell] + '</th>';
             } else {
               table_output += '<td class="py-3 px-3" data-cell="' + cell + '" data-name="' + sheet_data[0][cell] + '">' + sheet_data[row][cell] + '</td>';
             }
           }
           table_output += '</tr>';
         }
         table_output += '</table>';
         $('#table-data').html(table_output);
         tableClickEvents();
         $('#guests-table').createTablePagination({
           rowPerPage: 6,
           paginationColor: '#FFB4C6',
           fontColor: '#8A8A8A',
           paginationStyle: 'borderless',
           transitionDuration: 800
         });
       }
     }
   }

   function convertCSVFileToHtmlTable() {
     $('#table-data').html('');
     Papa.parse(files, {
       delimiter: ",",
       skipEmptyLines: true,
       complete: (results) => {
         $("#upload-form").addClass("hidden");
         $("#table-btn").removeClass("hidden");
         $("#header-message").removeClass("hidden");
         $("#table-btn").addClass("flex");
         $("#modal-wrapper").removeClass("xl:max-w-3xl");
         $("#modal-wrapper").addClass("xl:max-w-7xl");
         if (results.data.slice(1).length > 0) {
           const headData = results.data[0];
           const tableRows = results.data.slice(1);
           var table_output = '<table id="guests-table" class="w-full text-sm text-left text-gray-5000">';
           table_output += '<tr class="border-b border-gray-200">';
           for (var rowHead = 0; rowHead < headData.length; rowHead++) {
             table_output += '<th class="py-3 px-3 cursor-pointer table-head-value" data-cell="' + rowHead + '" data-name="' + headData[rowHead] + '">' + headData[rowHead] + '</th>';
           }
           table_output += '</tr>';

           for (var row = 0; row < tableRows.length; row++) {
             table_output += '<tr class="border-b border-gray-200">';
             for (var cell = 0; cell < tableRows[row].length; cell++) {
               table_output += '<td class="py-3 px-3" data-cell="' + cell + '" data-name="' + headData[cell] + '">' + tableRows[row][cell] + '</td>';
             }
             table_output += '</tr>';
           }
           table_output += '</table>';

           $('#table-data').html(table_output);
           $('#guests-table').createTablePagination({
             rowPerPage: 6,
             paginationColor: '#FF547D',
             fontColor: '#8A8A8A',
             paginationStyle: 'borderless',
             transitionDuration: 500,
           });

           tableClickEvents();
         }
       }
     });
   }

   function tableClickEvents() {
     const element = document.querySelectorAll('.table-head-value');
     var selectedElement;
     var selectedColumnName;
     var guestsArray = [];
     const date = new Date();
     let lastName = false;
     let guestPhone = false;
     let currentDate = `Sent ${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} at ${date.getHours()}:${date.getMinutes()}`;
     if (element.length !== 0) {
       for (var i = 0; i < element.length; i++) {
         element[i].addEventListener('click', function() {
           selectedElement = this.getAttribute('data-cell');
           selectedColumnName = this.getAttribute('data-name');
           $('#column-name-choosen').text(selectedColumnName);
           $('#footer-message').removeClass('hidden');
           $('#guests-table tr').each(function() {
             $(this).find('td, th').each(function() {
               if ($(this).hasClass("bg-[#FF6D90]")) {
                 $(this).removeClass("bg-[#FF6D90]");
               }
             })
           })
           $('#guests-table tr').each(function() {
             $(this).find(`[data-cell='${selectedElement}']`).each(function() {
               $(this).addClass("bg-[#FF6D90]");
             })
           })
           if (lastName === true) {
             $('#column-name-choosen').text(selectedColumnName);
             $('#column-name').text('Last Name');
             $("#lastNameSelect").addClass('hidden');
             $("#lastNameContainer").addClass('hidden');
             $("#phoneContainer").removeClass('w-1/2').addClass('w-full');
             
           }
           if (guestPhone === true) {
             $('#column-name-choosen').text(selectedColumnName);
             $('#column-name').text('Phone Number');
             $("#phoneNumberSelect").addClass('hidden');
             $("#phoneContainer").addClass('hidden');
             $("#finishButton").removeClass('hidden').addClass('flex');
             $("#table-btn").removeClass('space-x-3');
           }
         });
       }
     }
     $("#lastNameSelect").click(function() {
       $('#guests-table tr').each(function() {
          $(this).find('td, th').each(function() {
             if ($(this).hasClass("bg-[#FF6D90]") || $(this).hasClass("bg-[#545454]")) {
               $(this).removeClass("bg-[#FF6D90]");
               $(this).addClass("bg-[#545454]");
               $('#header-column-name').text('Last Name');
               $("#footer-message").addClass("hidden");
               lastName = true;
             } else {
               showSnackBar('Please select the column of the guest name before!');
             }
         })
       });
     });

     $("#phoneNumberSelect").click(function() {
       $('#guests-table tr').each(function() {
         $(this).find('td, th').each(function() {
           if ($(this).hasClass("bg-[#FF6D90]")) {
             $(this).removeClass("bg-[#FF6D90]");
             $(this).addClass("bg-[#545454]");
             $('#header-column-name').text('Phone Number');
             $("#footer-message").addClass("hidden");
             lastName = true;
             guestPhone = true;
           } else {
              showSnackBar('Please select the column of the guest name before!');
            }
         })
       });

     });

     $("#finishButton").click(function() {
       $('#guests-table tr').each(function() {
         let guestObject = {
           "id": Math.floor(Math.random() * 100) + 1,
           "guests_name": "",
           "phone_number": "",
           "status": "ok",
           "status_message": currentDate
         }
         $(this).find('td').each(function() {
           if ($(this).hasClass("bg-[#FF6D90]")) {
             guestObject.phone_number = $(this).text();
           }
           if ($(this).hasClass("bg-[#545454]")) {
             guestObject.guests_name += ' ' + $(this).text();
           }
         })
         guestsArray.push(guestObject);
         guestsList.push(guestObject);
       });

       clearModal();
       guestsArray.forEach((guest) => {
         if (guest.guests_name && guest.phone_number.length) {
           const div = cardTemplate.content.cloneNode(true);
           createTableRow(div, container, guest);
         }
       });
        setTimeout(() => {
          $('#guests-table-container').createTablePagination({
            rowPerPage: 10,
            paginationColor: '#FFB4C6',
            fontColor: '#8A8A8A',
            paginationStyle: 'borderless',
            transitionDuration: 800
          });
        },2000);

       setTimeout(() => {
          var selectAll = $('#checkbox-all-search'); 
          var $table = $('#guests-table-container');
          var tdCheckbox = $table.find('.table-row-checkbox');
          var tdCheckboxChecked = $table.find('tbody tr input[type=checkbox]:checked').length;

          selectAll.on('click', function () {
            tdCheckbox.prop("checked", this.checked);
            if(this.checked) {
              $('#delete-selected').prop('disabled', false);
            }
            if(!this.checked && tdCheckboxChecked === 0) {
              $('#delete-selected').prop('disabled', true);
            }
          });

          tdCheckbox.on('change', function(e){
            tdCheckboxChecked = $table.find('tbody tr input[type=checkbox]:checked').length;
            selectAll.prop('checked', (tdCheckboxChecked === tdCheckbox.length));
            if(tdCheckboxChecked > 0) {
              $('#delete-selected').prop('disabled', false);
            } else {
              $('#delete-selected').prop('disabled', true);
            }
          })
        },2000);
     });
   }

   function clearModal(text, status) {
     uploadModal.hide();
     $("#upload-form").removeClass("hidden");
     $("#table-btn").removeClass("flex");
     $("#table-btn").addClass("hidden");
     $("#modal-wrapper").removeClass("xl:max-w-7xl");
     $("#modal-wrapper").addClass("xl:max-w-3xl");
     $(".upload-files footer").removeClass("hasFiles");
     $("#drop").removeClass("hidden");
     $(".importar").removeClass("active");
     $("#phoneNumberSelect").removeClass('hidden');
     $("#lastNameSelect").removeClass('hidden');
     $("#finishButton").addClass('hidden');
     $("#uploadTable").val('');
     $('#table-data').html('');
     $("#header-message").addClass("hidden");
     $("#footer-message").addClass("hidden");

     $("#lastNameContainer").removeClass('hidden');
     $("#phoneContainer").removeClass('hidden', 'w-full').addClass('w-1/2');
     $("#table-btn").addClass('space-x-3');

     files = "";
   }

   window.addEventListener('modal-closed', function() {
     clearModal();
   })

   $('#guests-close-btn').click(function() {
     clearModal();
   });

   sl("#triggerFile").addEventListener("click", evt => {
     evt.preventDefault();
     sl("#uploadTable").click();
   });

   sl("#drop").ondragleave = evt => {
     sl("#drop").classList.remove("active");
     evt.preventDefault();
   };
   sl("#drop").ondragover = sl("#drop").ondragenter = evt => {
     sl("#drop").classList.add("active");
     event.preventDefault();
   };

   sl("#drop").ondrop = evt => {
     files = evt.dataTransfer.files[0];
     handleFileSelect(evt.dataTransfer.files[0]);
     sl("#drop").classList.add("hidden");
     sl(".upload-files footer").classList.add("hasFiles");
     sl("#drop").classList.remove("active");
     evt.preventDefault();
   };


   sl(".importar").addEventListener("click", () => {
     sl(".list-files").innerHTML = "";
     sl(".upload-files footer").classList.remove("hasFiles");
     sl(".importar").classList.remove("active");
     setTimeout(() => {
       sl("#drop").classList.remove("hidden");
     }, 500);
   });

   // input change
   sl("#uploadTable").addEventListener("change", function(event) {
     files = event.target.files[0];
     handleFileSelect(event.target.files[0]);
   });

   $("#uploadFile").click(function(evt) {
     if (files && files.name) {
       if (['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(files.type)) {
         convertExcelFileToHtmlTable();
       }
       if (files.type === "text/csv") {
         convertCSVFileToHtmlTable();
       }
     } else {
       showSnackBar('You should select a new file before upload!');
     }
   });

 }();

</script>