{% load static %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en" dir="{% translate 'ltr' %}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% translate 'Picksight Add NEw Event Page' %}</title>

  <link rel="stylesheet" href="{% static 'css/flowbite.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'css/skelton.css' %}">
  <link rel="stylesheet" href="{% static 'css/masonry.css' %}">
  <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/tailwind.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>

</head>

<body class="bg-[#FFF4F7]">
  {% include "commons/dashboard_header.html" with pageName="addEvent" type=type %}

<section class="flex min-h-screen justify-center pt-24 pb-36">
  <div class="container w-9/12">
    <div class="space-y-8">
      <div class="flex lg:flex-row flex-col lg:space-x-8 space-x-0 lg:space-y-0 space-y-8">
        <div class="flex-1 bg-white p-8 rounded-xl">
          <form action="" class="flex flex-col space-y-6">
            <div class="flex items-end ltr:space-x-6">
              <div class="flex-1">
                <input type="text" id="event-title" class="border border-[#DDDDDD] text-gray-900 text-lg rounded-lg border-0 focus:ring-0 focus:border-none block w-full p-2.5 pl-0" placeholder="Event Name" autofocus>
              </div>
              <div>
                <button id="save-event-btn" type="button" class="rtl:mr-6 text-white bg-[#FF6D90] hover:bg-[#FFB4C6] focus:ring-4 focus:outline-none focus:ring-[#FF6D90] font-medium rounded-lg text-sm px-8 py-2.5">{% translate 'Save'%}</button>   
              </div>
            </div>
             <div class="grid gap-6 md:grid-cols-2">
              <div>
                  <label for="event-owner" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Event’s Owners'%}</label>
                  <input type="text" id="event-owner" class="border border-[#DDDDDD] text-gray-900 text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-2.5" placeholder="John" required>
              </div>
              <div>
                  <label for="datepickerEvent" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Event Date'%}</label>
                  <div class="relative">
                    <div class="flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-[#FFB4C6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input datepicker datepicker-autohide id="datepickerEvent" type="text" class="border border-[#DDDDDD] text-gray-900 sm:text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full pr-10 p-2.5" placeholder="Select date">
                  </div>
              </div>
            </div>
            <div>
              <label for="datepickerMessageDate" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Set Time and Date For Message'%}</label>
              <div class="relative">
                <div class="flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-[#FFB4C6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input datepicker datepicker-autohide id="datepickerMessageDate" type="text" class="border border-[#DDDDDD] text-gray-900 sm:text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full pr-10 p-2.5" placeholder="Select date">
              </div>
            </div>
            <div>
              <label for="language" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Message Language'%}</label>
              <select value="en" id="language" class="border-[#DDDDDD] text-gray-900 text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-2.5">
                <option selected>{% translate 'Select Language'%}</option>
                <option value="en">{% translate 'English'%}</option>
                <option value="hb">{% translate 'Hebrew'%}</option>
              </select>
            </div>
            <div>
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Message'%}</label>
              <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 rounded-lg border border-[#DDDDDD] focus:ring-[#FFB4C6] focus:border-[#FFB4C6]" placeholder="Your message..."></textarea>
            </div>
            <div class="flex flex-col w-full">
              <label class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Add Photo (Optional)'%}</label>
              <label for="dropzone-file" class="flex flex-col justify-center items-center w-full bg-[#FFF6F8] rounded-lg border-2 border-[#FFB4C6] border-dashed cursor-pointer">
                  <div class="flex justify-center items-center py-8 ltr:space-x-4">
                      <svg aria-hidden="true" class="w-10 h-10 text-[#FFB4C6]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                      <p class="text-sm rtl:mr-4 text-[#FFB4C6]">{% translate 'Upload or Drag Files Here'%}</p>
                  </div>
                  <input id="dropzone-file" type="file" class="hidden" />
              </label>
          </div> 
          </form>
        </div>
        <div class="flex-1 flex flex-col space-y-6 bg-white p-8 rounded-xl">
          <p class="block text-sm font-medium text-gray-900">{% translate 'Preview'%}</p>
          <div class="flex flex-col lg:py-0 py-6 items-center justify-center h-full rounded-xl bg-[url({% static '/images/messgae_bg.jpg' %})] bg-no-repeat bg-cover">
            <div class="flex flex-col space-y-9 w-2/3 bg-white p-6 rounded-xl">
              <img src="{% static 'images/wedding-4.jpg' %}" class="rounded-xl" id="event-image">
              <p id="event-message-text">
                {% translate 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged'%}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-8 rounded-xl">
        <div class="overflow-x-auto relative sm:rounded-lg">
          <div class="flex xl:flex-row flex-col justify-between xl:items-center xl:space-y-0 space-y-6 pb-8 bg-white">
            <div class="flex md:flex-row flex-col items-center md:space-x-3 md:space-y-0 space-y-4">
              <h5 class="lg:text-base text-sm font-medium">{% translate 'Guests List'%}</h5>
              <div class="flex flex-1 items-center">
                <label for="table-search-users" class="sr-only">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none">
                        <svg class="w-5 h-5 text-[#FFB4C6]" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="table-search-users" class="block p-2 pr-10 2xl:w-80 lg:w-60 md:w-48 w-full text-sm text-gray-900 rounded-lg border border-[#FFB4C6] focus:ring-[#FFB4C6] focus:border-[#FFB4C6]" placeholder="Search for guests">
                </div>
              </div>
              <div class="ltr:space-x-3">
                <button id="add-single-guest" class="flex-1 py-2 lg:px-6 px-3 text-sm text-white text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">{% translate 'Add single guest'%}</button>
                <button type="button" class="rtl:mr-3 text-white bg-[#FF6D90] hover:bg-[#FFB4C6] focus:ring-4 focus:outline-none focus:ring-[#FF6D90] font-medium rounded-lg text-sm lg:px-6 px-3 py-2">{% translate 'Save'%}</button>   
              </div>
            </div>
            <div>
              <div class="flex justify-center ltr:space-x-3">
                <button id="add-multiple-guests" class="py-2 px-6 text-sm text-white text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">{% translate 'Upload CSV/Excel'%}</button>
                <button class="rtl:mr-3 bg-transparent text-sm border border border-[#FFB4C6] text-[#FFB4C6] rounded-lg py-2 px-6">{% translate 'Delete All'%}</button>   
              </div>
            </div>
          </div>
          <table id="guests-table-container" class="w-full text-sm text-left text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                      <th scope="col" class="py-3 px-2">
                          <div class="flex items-center">
                              <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-[#FF6D90] bg-gray-100 rounded border-gray-300 focus:ring-[#FF6D90">
                              <label for="checkbox-all-search" class="sr-only">checkbox</label>
                          </div>
                      </th>
                      <th scope="col" class="py-3 px-2 capitalize">
                          Name
                      </th>
                      <th scope="col" class="py-3 px-2 capitalize">
                          Number
                      </th>
                      <th scope="col" class="py-3 px-2 capitalize">
                          Status
                      </th>
                      <th scope="col" class="py-3 px-2 capitalize">
                          Action
                      </th>
                  </tr>
              </thead>
              <tbody class="table-container">
                <template id="row-template" >
                  <tr class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50">
                    <td id="check-box-td" class="py-3 px-2 w-4">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-[#FF6D90] bg-gray-100 rounded border-gray-300 focus:ring-[#FF6D90] dark:focus:ring-[#FF6D90] focus:ring-2">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td id="guest-name" class="py-3 px-2 flex items-center ltr:space-x-2">
                      <p class="skeleton skeleton-text"></p>
                    </td>
                    <td id="guest-phone" class="py-3 px-2">
                      <p class="skeleton skeleton-text"></p>
                    </td>
                    <td id="guest-status" class="py-3 px-2">
                      <p class="skeleton skeleton-text"></p>
                    </td>
                    <td id="guest_action" class="py-3 px-2 flex space-x-3">
                      <span class="skeleton skeleton-footer"></span>
                      <span class="skeleton skeleton-footer"></span>
                    </td>
                  </tr>
                </template>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="add-guests" tabindex="-1"
  class="z-50 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
  <div class="relative p-4 w-full xl:max-w-3xl lg:max-w-xl md:max-w-md max-w-sm  h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <button type="button"
        id="guest-close-btn"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="py-6 px-6 lg:px-8">
        <p class="flex flex-col items-center uppercase font-bold text-[#FFB4C6] text-5xl mb-8">
          {% translate 'Add Guest'%}
        </p>
        <form class="space-y-6" action="#">
          <div>
            <label for="input-guest-name" class="block mb-2 text-base">{% translate 'Guest’s Name'%}</label>
            <input type="Text" name="username" id="input-guest-name"
              class="border border-[#ADADAD] text-[#8A8A8A] text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-4"
              placeholder="Enter Guest’s name" required>
          </div>
          <div>
            <label for="dropdown-country_phone" class="block mb-2 text-base">{% translate 'Phone Number'%}</label>
            <div class="flex">
              <button id="dropdown-country_phone" data-dropdown-toggle="guest-phone-code"
                class="rtl:order-last flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] border border-gray-300 rounded-l-lg focus:outline-none"
                type="button">
                  <img src="{% static 'images/is.png' %}" id="selectedGuestImg" class="w-6 h-6 ltr:mr-3 rtl:ml-3" alt="">
                  <span class="w-16">
                    <span class="w-16" id="selectedGuestCode">+972</span>
                    <span id="selectedGuestCountry"> (IL)</span>
                  </span>
                 <svg aria-hidden="true" class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div id="guest-phone-code
                class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow"
                data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom"
                style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 10px);">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-phone">
                  <li>
                    <button type="button"
                      onclick="getCountryPhoneCode(this)"
                      class="inline-flex py-2 px-4 w-full text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem">
                      <div class="inline-flex items-center">
                        <img class="child2" src="{% static 'images/is.png' %}" class="w-6 h-6 ltr:mr-3 rtl:ml-3" alt="">
                        <span class="child1">+972</span>
                        <span class="child3">(IL)</span>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button"
                    onclick="getCountryPhoneCode(this)"
                      class="inline-flex py-2 px-4 w-full text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem">
                      <div class="inline-flex items-center">
                        <img class="child2" src="{% static 'images/usa.png' %}" class="w-6 h-6 ltr:mr-3 rtl:ml-3" alt="">
                        <span class="child1">+1</span>
                        <span class="child3">(US)</span>
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="relative w-full">
                <input type="tel" id="guest-phone-input"
                  class="block p-4 w-full z-20 text-sm text-[#8A8A8A] rounded-r-lg border-l-[#ADADAD] border-l-2 border border-[#ADADAD] focus:ring-[#FFB4C6] focus:border-[#FFB4C6]"
                  placeholder="Phone Number" required>
              </div>
            </div>
          </div>
          <button
            id="add-guest-btn"
            type="button"
            class="uppercase w-full text-white bg-[#FFB4C6] hover:bg-[#FFB4C695] focus:outline-none font-medium rounded-lg text-lg px-5 py-4 text-center transition transform">
            {% translate 'Add'%} </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delete-guest" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
  <input type="text" class="hidden" id="id-guest-to-delete">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" onclick="window.deleteModal.hide()">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
              <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{% translate 'Are you sure you want to delete this guest?' %}</h3>
              <button id='delete-guest-btn' type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                {% translate 'Yes, I m sure' %} 
              </button>
              <button onclick="window.deleteModal.hide()" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">{% translate 'No, cancel' %} </button>
          </div>
      </div>
  </div>
</div>

{% include "./commons/add_event_modal.html" %}
{% include "./commons/payment_modal.html" %}
{% include "./commons/select_guests_list.html" %}
<div id="snackbar" class="text-lime-600 z-50"></div>

<script src="{% static '/js/flowbite.js' %}" type="text/javascript"></script>
<script src="{% static '/js/datepicker.js' %}" type="text/javascript"></script>
<script src="{% static '/js/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/xlsx.full.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/papaparse.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/table-pagination.js' %}" type="text/javascript"></script>
<script>
  new WOW().init();

  var guestsList = [];

  $(document).ready(function () {
    window.deleteModal = new Modal(document.getElementById('delete-guest'), {});
  });


  const id = "{{id}}";

  const container = document.querySelector(".table-container");
  const cardTemplate = document.getElementById("row-template");
  const targetEl = document.getElementById('add-guests');
  const addModal = new Modal(targetEl);

  const uploadGuests = document.getElementById('add-guests-list');
  const uploadModal = new Modal(uploadGuests);

  /***********Edit Event Information**************/
  if(id !== "") {
    async function fetchEventsJSON() {
    const response = await fetch("http://127.0.0.1:8000/static/data/events.json");
    const events = await response.json();
    return events;
    }
    fetchEventsJSON().then(events => {
      events.forEach((event) => {
        if(event.id === id) {
          $("#event-title").val(event.event_name);
          $("#event-owner").val(event.owner);
          $("#datepickerEvent").val(event.event_date);
          $("#datepickerMessageDate").val(event.sent_date);
          $("#message").val(event.message);
        }
      });
    });
  }

/********************************Guests list **************************/

for (let i = 0; i < 3; i++) {
  container.append(cardTemplate.content.cloneNode(true));
}
setTimeout(function () {
  fetch("http://127.0.0.1:8000/static/data/guests.json", {
    method: "GET",
    headers: { "access-Control-Allow-Origin": "*" }
  })
    .then((response) => response.json())
    .then((guests) => {
      container.innerHTML = "";
      guestsList = guests;
      guests.forEach((guest) => {
        let tableRow = cardTemplate.content.cloneNode(true);
        createTableRow(tableRow, container, guest);
      });
    });
}, 1000)

window.addEventListener('delete-guest', function() {
  container.innerHTML = "";
  guestsList.forEach((guest) => {
     const tableRow = cardTemplate.content.cloneNode(true);
     createTableRow(tableRow, container, guest);
    });
})

function getCountryPhoneCode(elemnt) {
  document.getElementById('selectedGuestImg').src = elemnt.querySelector('.child2').src;
  document.getElementById('selectedGuestCode').textContent = elemnt.querySelector('.child1').innerText ;
  $('selectedGuestCountry').text(elemnt.querySelector('.child3').innerText);
};

$("#add-guest-btn").click(function () {
  const guest = {
    "id": "05", "guests_name": "", "phone_number": "", "status": "ok", "status_message": "Sent at 3/5/2022 at 14:00"
  };

  const date = new Date();

  let day = date.getDate();
  let month = date.getMonth() + 1;
  let year = date.getFullYear();
  let hour = date.getHours();
  let minute = date.getMinutes();
  let currentDate = `{% blocktrans %}Sent {% endblocktrans %} ${day}/${month}/${year} at ${hour}:${minute}`;

  var guest_name = $("#input-guest-name").val();
  var guest_phone = $("#guest-phone-input").val();

  if(guest_name && $.isNumeric(guest_phone))  {
    guest.guests_name = guest_name; 
  } else {
    clearModal();
    showSnackBar('Oops. Something went wrong when adding new guest!')
  }
});

$("#add-single-guest").click(function () {
  addModal.show();
});

$("#add-multiple-guests").click(function () {
  uploadModal.show();
});

$("#guest-close-btn").click(function () {
  clearModal();
});



function createTableRow (el, parent, item) {
  const tableRow = el.getElementById("check-box-td").parentElement;
  tableRow.setAttribute('id', item.id);
  if (item.status === "error") {
    el.getElementById("guest-name").innerHTML = `<img class="w-4 h-4" src="{% static 'images/warning.svg' %}" /> <span class="rtl:mr-2">` + item.guests_name + `</span>`;
  } else {
    el.getElementById("guest-name").textContent = item.guests_name;
  }
  el.getElementById("guest-phone").textContent = item.phone_number;
  el.getElementById("guest-status").textContent = item.status_message;
  el.getElementById("guest-status").classList.add(item.status);
  el.getElementById("guest_action").innerHTML =
    ` <button id=`+item.id+` class="edit-btn"><img src="{% static 'images/edit_guests.svg' %}" /></button>
    <button id=`+item.id+` class="delete-btn" ><img src="{% static 'images/delete_guests.svg' %}" /></button>`;
  parent.append(el);
  var guest_id_to_delete="";

  $('.delete-btn').click(function() {
    guest_id_to_delete = this.getAttribute('id');
    $('#id-guest-to-delete').val(this.getAttribute('id'));
    window.deleteModal.show();
  });

  $('#delete-guest-btn').click(function() {
    const id = '#'+$('#id-guest-to-delete').val();
    $(id).addClass('hidden');
    window.deleteModal.hide();
  });

 const editBtn = document.querySelectorAll('.edit-btn');
  if (editBtn.length !== 0) {
    for (let i = 0; i < editBtn.length; i++) {
       editBtn[i].addEventListener('click', function() {
        const guest_id = this.getAttribute('id');
        guestsList.forEach((guest) => {
          if (guest_id === guest.id) {
            $('#input-guest-name').val(guest.guests_name);
            $('#guest-phone-input').val(guest.phone_number);
          }
        });
        addModal.show();
      });
    }
  } 
}

function showSnackBar(text, status) {
  $("#snackbar").text( text );
  $("#snackbar").addClass( "show" );
  setTimeout(function(){ 
    $("#snackbar").removeClass( "show" );
  }, 2000);
};

function clearModal(text, status) {
  addModal.hide();
  $("#input-guest-name").val("");
  $("#guest-phone-input").val("");
};

const datepickerEvent = document.getElementById('datepickerEvent');
new Datepicker(datepickerEvent, {});
const datepickerMessage = document.getElementById('datepickerMessageDate');
new Datepicker(datepickerMessage, {});

</script>

</body>
</html>


