{% load static %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en" dir="{% translate 'ltr' %}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% translate 'Picksight Add NEw Event Page' %}</title>

  <link rel="stylesheet" href="{% static 'css/flowbite.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'css/skelton.css' %}">
  <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/tailwind.js' %}" type="text/javascript"></script>

</head>

<body class="bg-[#FFF4F7]">
  {% include "commons/dashboard_header.html" with pageName="addEvent" type=type %}

<section class="flex min-h-screen justify-center pt-24 pb-36">
  <div class="container w-9/12">
    <div class="space-y-8">
      <div class="flex space-x-8">
        <div class="flex-1 bg-white p-8 rounded-xl">
          <form action="" class="flex flex-col space-y-6">
            <div class="flex items-end ltr:space-x-6">
              <div class="flex-1">
                <input type="text" id="event-title" class="border border-[#DDDDDD] text-gray-900 text-lg rounded-lg border-0 focus:ring-0 focus:border-none block w-full p-2.5 pl-0" placeholder="Event Name" autofocus>
              </div>
              <div>
                <button type="submit" class="rtl:mr-6 text-white bg-[#FF6D90] hover:bg-[#FFB4C6] focus:ring-4 focus:outline-none focus:ring-[#FF6D90] font-medium rounded-lg text-sm px-8 py-2.5">{% translate 'Save'%}</button>   
              </div>
            </div>
             <div class="grid gap-6 md:grid-cols-2">
              <div>
                  <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Event’s Owners'%}</label>
                  <input type="text" id="event-owner" class="border border-[#DDDDDD] text-gray-900 text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-2.5" placeholder="John" required>
              </div>
              <div>
                  <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Event Date'%}</label>
                  <div class="relative">
                    <div class="flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-[#FFB4C6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input datepicker datepicker-autohide id="datepickerEvent" type="text" class="border border-[#DDDDDD] text-gray-900 sm:text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full pr-10 p-2.5" placeholder="Select date">
                  </div>
              </div>
            </div>
            <div class="">
              <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Set Time and Date For Message'%}</label>
              <div class="relative">
                <div class="flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-[#FFB4C6]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input datepicker datepicker-autohide id="datepickerMessageDate" type="text" class="border border-[#DDDDDD] text-gray-900 sm:text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full pr-10 p-2.5" placeholder="Select date">
              </div>
            </div>
            <div>
              <label for="language" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Message Language'%}</label>
              <select value="en" id="laguage" class="border-[#DDDDDD] text-gray-900 text-sm rounded-lg focus:ring-[#FFB4C6] focus:border-[#FFB4C6] block w-full p-2.5">
                <option selected>{% translate 'Select Language'%}</option>
                <option value="en">{% translate 'English'%}</option>
                <option value="hb">{% translate 'Hebrew'%}</option>
              </select>
            </div>
            <div>
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Message'%}</label>
              <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 rounded-lg border border-[#DDDDDD] focus:ring-[#FFB4C6] focus:border-[#FFB4C6]" placeholder="Your message..."></textarea>
            </div>
            <div class="flex flex-col w-full">
              <label class="block mb-2 text-sm font-medium text-gray-900">{% translate 'Add Photo (Optional)'%}</label>
              <label for="dropzone-file" class="flex flex-col justify-center items-center w-full bg-[#FFF6F8] rounded-lg border-2 border-[#FFB4C6] border-dashed cursor-pointer">
                  <div class="flex justify-center items-center py-8 ltr:space-x-4">
                      <svg aria-hidden="true" class="w-10 h-10 text-[#FFB4C6]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                      <p class="text-sm rtl:mr-4 text-[#FFB4C6]">{% translate 'Upload or Drag Files Here'%}</p>
                  </div>
                  <input id="dropzone-file" type="file" class="hidden" />
              </label>
          </div> 
          </form>
        </div>
        <div class="flex-1 flex flex-col space-y-6 bg-white p-8 rounded-xl">
          <p class="block text-sm font-medium text-gray-900">{% translate 'Preview'%}</p>
          <div class="flex flex-col items-center justify-center h-full rounded-xl bg-[url({% static '/images/messgae_bg.jpg' %})] bg-no-repeat bg-cover">
            <div class="flex flex-col space-y-9 w-2/3 bg-white p-6 rounded-xl">
              <img src="{% static "images/wedding-4.jpg" %}" class="rounded-xl" id="event-image">
              <p id="event-message-text">
                {% translate 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged'%}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-8 rounded-xl">
        <div class="overflow-x-auto relative sm:rounded-lg">
          <div class="flex xl:flex-row flex-col justify-between xl:items-center xl:space-y-0 space-y-6 pb-8 bg-white">
            <div class="flex md:flex-row flex-col items-center md:space-x-3 md:space-y-0 space-y-4">
              <h5 class="lg:text-base text-sm font-medium">{% translate 'Guests List'%}</h5>
              <div class="flex flex-1 items-center">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none">
                        <svg class="w-5 h-5 text-[#FFB4C6]" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="table-search-users" class="block p-2 pr-10 2xl:w-80 lg:w-60 md:w-48 w-full text-sm text-gray-900 rounded-lg border border-[#FFB4C6] focus:ring-[#FFB4C6] focus:border-[#FFB4C6]" placeholder="Search for guests">
                </div>
              </div>
              <div class="ltr:space-x-3">
                <button class="flex-1 py-2 lg:px-6 px-3 text-sm text-white text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">{% translate 'Add single guest'%}</button>
                <button type="submit" class="rtl:mr-3 text-white bg-[#FF6D90] hover:bg-[#FFB4C6] focus:ring-4 focus:outline-none focus:ring-[#FF6D90] font-medium rounded-lg text-sm lg:px-6 px-3 py-2">{% translate 'Save'%}</button>   
              </div>
            </div>
            <div>
              <div class="flex justify-center ltr:space-x-3">
                <button class="py-2 px-6 text-sm text-white text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">{% translate 'Upload CSV/Excel'%}</button>
                <button class="rtl:mr-3 bg-transparent text-sm border border border-[#FFB4C6] text-[#FFB4C6] rounded-lg py-2 px-6">{% translate 'Delete All'%}</button>   
              </div>
            </div>
          </div>
          <table class="w-full text-sm text-left text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                      <th scope="col" class="p-4">
                          <div class="flex items-center">
                              <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-[#FF6D90] bg-gray-100 rounded border-gray-300 focus:ring-[#FF6D90">
                              <label for="checkbox-all-search" class="sr-only">checkbox</label>
                          </div>
                      </th>
                      <th scope="col" class="py-3 px-6 capitalize">
                          Name
                      </th>
                      <th scope="col" class="py-3 px-6 capitalize">
                          Number
                      </th>
                      <th scope="col" class="py-3 px-6 capitalize">
                          Status
                      </th>
                      <th scope="col" class="py-3 px-6 capitalize">
                          Action
                      </th>
                  </tr>
              </thead>
              <tbody class="table-container">
                <template id="row-template" >
                  <tr class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50">
                    <td class="p-4 w-4">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-[#FF6D90] bg-gray-100 rounded border-gray-300 focus:ring-[#FF6D90] dark:focus:ring-[#FF6D90] focus:ring-2">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td id="guest-name" class="py-4 px-6 flex items-center ltr:space-x-2">
                      <p class="skeleton skeleton-text"></p>
                    </td>
                    <td id="guest-phone" class="py-4 px-6">
                      <p class="skeleton skeleton-text"></p>
                    </td>
                    <td id="guest-status" class="py-4 px-6">
                      <p class="skeleton skeleton-text"></p>
                    </td>
                    <td id="guest_action" class="py-4 px-6 flex space-x-3">
                      <span class="skeleton skeleton-footer"></span>
                      <span class="skeleton skeleton-footer"></span>
                    </td>
                  </tr>
                </template>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="snackbar" class="text-lime-600 z-50"></div>

<script src="{% static '/js/flowbite.js' %}" type="text/javascript"></script>
<script src="{% static '/js/datepicker.js' %}" type="text/javascript"></script>
<script src="{% static '/js/add_event.js' %}" type="text/javascript"></script>
<script src="{% static '/js/wow.min.js' %}" type="text/javascript"></script>
<script>
  new WOW().init();

  const id = "{{id}}";
  /*************************/
  console.warn(id !== "", id);
  if(id !== "") {
    async function fetchEventsJSON() {
    const response = await fetch("http://127.0.0.1:8000/static/data/events.json");
    const events = await response.json();
    return events;
    }
    fetchEventsJSON().then(events => {
      events.forEach((event) => {
        if(event.id === id) {
          document.getElementById("event-title").value = event.event_name;
          document.getElementById("event-owner").value = event.owner;
          document.getElementById("datepickerEvent").value = event.event_date;
          document.getElementById("datepickerMessageDate").value = event.sent_date;
          document.getElementById("message").value = event.message;
          
          
        }
      });
    });
  }

</script>

</body>
</html>


