{% load static %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% translate 'Picksight Gallery Page' %}</title>

  <link rel="stylesheet" href="{% static 'css/flowbite.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <script src="{% static '/js/tailwind.js' %}" type="text/javascript"></script>
</head>

<body class="bg-[#FFF4F7]">
  {% include "commons/dashboard_header.html" with pageName="gallery" type="owner" %}

<section class="flex items-center justify-center pt-24 pb-36">
  <div class="container w-9/12">
    {% include "commons/gallery_private.html" with type="owner" gallery=gallery %}
  </div>
</section>

<script src="{% static '/js/flowbite.js' %}" type="text/javascript"></script>
<script src="{% static '/js/wow.min.js' %}" type="text/javascript"></script>
<script>
  new WOW().init();
</script>
</body>
</html>