{% load static %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en" dir="{% translate 'ltr' %}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% translate 'Picksight Gallery Home Page' %}</title>

  <link rel="stylesheet" href="{% static 'css/flowbite.css' %}">
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <script src="{% static '/js/tailwind.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>
</head>

<body class="bg-[#FFF4F7]">
  {% include "commons/header.html" with pageName="home" %}
  <section
    class="relative lg:min-h-screen lg:py-24 py-32 flex items-center justify-center bg-gradient-to-r from-[#ffe1ea] to-[#d8e8f8]">
    <div class="container flex w-9/12">
      <div class="flex flex-col md:flex-row items-center justify-between ltr:xl:space-x-52 ltr:lg:space-x-10 ltr:space-x-6 space-y-20 md:space-y-0">
        <div class="md:w-1/2 w-full">
           {% load static %}
          <img src="{% static "images/hero_img.svg" %}" alt="Put alternative text hereme" />
        </div>
        <div class="md:w-1/2 w-full text-center md:text-left rtl:text-right rtl:xl:mr-52 rtl:lg:mr-10 rtl:mr-6">
          <div class="flex w-max flex-row md:mx-0 mx-auto ltr:space-x-3 pb-3 mb-6 border-b-2 border-b[#72727233]">
            <img src="{% static '/images/arrow_right.svg' %}" alt="Put alternative text here" role="presentation" loading="lazy">
            <span class="uppercase text-base text-[#727272] font-bold rtl:mr-3">{% translate 'Latest proucts' %}</span>
          </div>
          <h1 class="flex flex-col text-2xl lg:text-5xl md:text-3xl font-bold space-y-4 uppercase">
            <span class="text-[#00A8FE]">{% translate 'See your event like'%}</span>
            <span class="text-[#FFB4C6]">{% translate 'never before'%}</span>
          </h1>
          <p class="text-[#727272] lg:text-xl text-lg mt-4">
            {% translate 'Experiencing your event through your guests eyes. There is no need to wait for professional photographers. With no appt but easily through WhatsApp, you will have a complete gallery immediately following your event'%}
          </p>
          <div class="flex lg:flex-row flex-col mt-10 ltr:lg:space-x-4 lg:space-y-0 space-y-4" >
            <a href="#"
              class="py-3 px-4 text-lg text-white text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">
              {% translate 'Sign up for free Now!'%}</a>
            <a href="/demo"
              class="rtl:lg:mr-4 py-3 px-4 text-lg text-[#00A8FE] text-center bg-transparent rounded-lg border border-[#00A8FE] hover:bg-[#00A8FE] hover:text-white transition duration-300">
              {% translate 'Try our 2 Step Demo!'%}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flex items-center justify-center space-y-7">
    <div class="relative container flex w-9/12  md:min-h-[320px] lg:min-h-[450px]">
      <div
        class="md:absolute inset-x-auto md:-top-16 -top-24 flex flex-col md:flex-row items-center md:items-stretch justify-center lg:gap-24 gap-6">
        <div class="flex flex-col items-center w-full text-center space-y-4 bg-white rounded-lg lg:py-11 py-4 lg:px-9 px-4 transition transform hover:-translate-y-2">
          <p class="text-[#727272] lg:text-lg text-base">{% translate 'The Only Genuine Gallery That Conveys The Experience'%}</p>
          <img src="{% static "images/gallery_img_1.svg" %}" alt="Put alternative text hereme" />
        </div>
        <div class="flex flex-col items-center w-full text-center space-y-4 bg-white rounded-lg lg:py-11 py-4 lg:px-9 px-4 transition transform hover:-translate-y-2">
          <p class="text-[#727272] lg:text-lg text-base">{% translate 'No Need To Wait to See you photos'%}</p>
          <img src="{% static "images/gallery_img_2.svg" %}" alt="Put alternative text here" />
        </div>
        <div class="flex flex-col items-center w-full text-center space-y-4 bg-white rounded-lg lg:py-11 py-4 lg:px-9 px-4 transition transform hover:-translate-y-2">
          <p class="text-[#727272] lg:text-lg text-base">{% translate 'No Dedicated App or Barcode.Easily use immediately through WhatsApp/Text'%}</p>
          <img src="{% static "images/gallery_img_3.svg" %}" alt="Put alternative text here" />
        </div>
      </div>
    </div>
  </section>
  <!-- How it works section -->
  <section class="flex items-center justify-center lg:mb-32 mb-10">
    <div class="container w-9/12">
      <div class=" md:space-y-16 space-y-10">
        <h3 class="text-3xl lg:text-5xl font-bold text-center lg:pb-16 md:pb-16 pb-2 pt-10 uppercase">
          <span class="text-[#00A8FE]">{% translate 'How It'%}</span>
          <span class="text-[#FFB4C6]">{% translate 'works?'%}</span>
        </h3>
        <div class="md:space-y-24 space-y-48">
          <div class="flex items-center mx-auto">
            <div class="md:flex hidden w-1/3"></div>
            <div class="md:w-1/3 w-1/2">
              <div class="image_wrapper_1 relative max-w-xs mx-auto">
                <img class="wow animate__animated animate__fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" src="{% static "images/_a_1.svg" %}" alt="Put alternative text here" />
                <img class="absolute inset-x-auto inset-x-0 mx-auto -bottom-8 lg:max-w-[150px] max-w-[100px]  wow animate__animated animate__zoomIn" data-wow-duration="1.5s" data-wow-delay="1s" src="{% static "images/_a_2.svg" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeIn absolute lg:top-[70%] lg:-right-[100px] top-[100%] -right-[60px] lg:w-auto w-[24px]" data-wow-duration="2s" data-wow-delay="1.5s" src="{% static "images/shape_3.svg" %}" alt="Put alternative text here" />
              </div>
            </div>
           <div class="animate-text md:w-1/3 w-1/2 text-[#FFB4C6] lg:text-2xl text-xl font-bold xl:text-left text-center text_wrapper_1 wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
              {% translate 'Have a wonderful event'%}
            </div>
          </div>
          <div class="flex items-center space-x-6 mx-auto">
            <div class="animate-text md:w-1/3 w-1/2 text-center text-[#FFB4C6] lg:text-2xl text-xl font-bold text_wrapper_1 wow animate__animated animate__fadeIn" data-wow-duration="1.5s" data-wow-delay="1s">
              {% translate 'Your Guests taking pictures & videos during the event'%}
            </div>
            <div class="md:w-1/3 w-1/2">
              <div class="image_wrapper_2 relative max-w-xs mx-auto">
                <img class="wow animate__animated animate__fadeIn absolute lg:w-auto w-[24px] lg:top-[70%] lg:-left-[100px] top-[100%] -left-[60px] rotate-180" data-wow-duration="2s" data-wow-delay="2.5s" src="{% static "images/shape_3.svg" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="2s" src="{% static "images/_b_1.svg" %}" alt="Put alternative text here" />
                <img class="absolute inset-x-auto inset-x-0 top-0 wow animate__animated animate__fadeInRight" data-wow-duration="1s" data-wow-delay="2.5s" src="{% static "images/_b_2.svg" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeIn absolute top-0" data-wow-delay="3.5s" src="{% static "images/_b_3.svg" %}" alt="Put alternative text here" />
              </div>
            </div>
            <div class="md:flex hidden w-1/3"></div>
          </div>

          <div class="flex items-center space-x-6 mx-auto">
            <div class="md:flex hidden w-1/3"></div>
            <div class="md:w-1/3 w-1/2">
              <div class="image_wrapper_2 relative max-w-xs  mx-auto">
                <img class="wow animate__animated animate__fadeInLeft" data-wow-duration="1.5s" data-wow-delay="2s" src="{% static "images/_c_1.png" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeIn absolute top-0" data-wow-delay="3.5s" src="{% static "images/_c_2.png" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeIn absolute lg:w-auto w-[24px] lg:top-[70%] top-[100%] lg:-right-[100px] -right-[60px]" data-wow-duration="2s" data-wow-delay="1.5s" src="{% static "images/shape_3.svg" %}" alt="Put alternative text here" />
              </div>
            </div>
            <div class="animate-text md:w-1/3 w-1/2 text-[#FFB4C6] lg:text-2xl text-xl font-bold text_wrapper_1 wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
              {% translate 'Your guests receive a message and respond with the photos & video they took'%}
            </div>
          </div>

          <div class="flex items-center space-x-6 mx-auto">
            <div class="animate-text md:w-1/3 w-1/2 text-[#FFB4C6] lg:text-2xl text-xl font-bold text_wrapper_1 wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
              {% translate 'Your have an emazing online gallery after the event'%}
            </div>
            <div class="md:w-1/3 w-1/2">
              <div class="image_wrapper_2 relative max-w-xs  mx-auto">
                <img class="wow animate__animated animate__fadeIn" data-wow-duration="1.5s" data-wow-delay="1.5s" src="{% static "images/_d_1.png" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeIn absolute top-0" data-wow-duration="1s" data-wow-delay="2s" src="{% static "images/_d_2.png" %}" alt="Put alternative text here" />
                <img class="wow animate__animated animate__fadeIn absolute top-0" data-wow-duration="1s" data-wow-delay="2.2s" src="{% static "images/_d_3.png" %}" alt="Put alternative text here" />
              </div>
            </div>
            <div class="md:flex hidden w-1/3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our services section -->
  <section class="flex items-center justify-center lg:pb-28 pb-10">
    <div class="container flex w-9/12">
      <div class=" lg:space-y-20 space-y-10">
        <h3 class="text-3xl lg:text-5xl font-bold text-center md:pb-16 pb-2 pt-16 sm:pt-0 uppercase">
          <span class="text-[#00A8FE]">{% translate 'Our'%}</span>
          <span class="text-[#FFB4C6]">{% translate 'Services'%}</span>
        </h3>
        <div class="grid grid-lines lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:grid-rows-2 grid-rows-3 lg:gap-14 gap-6">
          <div class="flex flex-col items-center bg-white rounded-lg px-14 pb-6 cursor-pointer">
            <img src="{% static "images/service_1.png" %}" alt="Put alternative text here" />
            <h6 class="font-bold text-[#FFB4C6] md:text-3xl text-2xl  pb-4">{% translate 'Wedding'%}</h6>
            <p class="md:text-2xl text-xl text-[#727272] text-center pb-6">
              {% translate 'Forget the disposable camera. This is the new way to collect photos from your guests.'%}
            </p>
            <a href=""
              class="py-3 px-6 text-lg text-white font-semibold mt-auto text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">
              {% translate 'Set up your Wedding gallery now'%}</a>
          </div>
          <div class="flex flex-col items-center bg-white rounded-lg px-14 pb-6 cursor-pointer">
            <img src="{% static "images/service_2.png" %}" alt="Put alternative text here" />
            <h6 class="font-bold text-[#FFB4C6] md:text-3xl text-2xl pb-4">{% translate 'Birthday'%}</h6>
            <p class="md:text-2xl text-xl text-[#727272] text-center pb-6">
              {% translate 'Create timeless memories with a dedicated gallery'%}
            </p>
            <a href=""
              class="py-3 px-6 text-lg text-white font-semibold mt-auto text-center bg-[#00A8FE] rounded-lg border border-[#00A8FE] hover:bg-transparent hover:text-[#00A8FE] transition duration-300">
              {% translate 'Set up your Birthday gallery now'%}
            </a>
          </div>
          <div class="flex flex-col items-center bg-white rounded-lg px-14 pb-6 cursor-pointer">
            <img src="{% static "images/service_3.png" %}" alt="Put alternative text here" />
            <h6 class="font-bold text-[#FFB4C6] md:text-3xl text-2xl text-center pb-4">{% translate 'Business Event'%}</h6>
            <p class="md:text-2xl text-xl text-[#727272] text-center pb-6">{% translate 'Have a live galery of your event to remember the network.'%}
            </p>
            <a href=""
              class="py-3 px-6 text-lg text-center text-white font-semibold mt-auto bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">
              {% translate 'Set up your Bussines Event gallery now'%}</a>
          </div>
          <div class="flex flex-col items-center bg-white rounded-lg px-14 pb-6">
            <img src="{% static "images/service_4.png" %}" alt="Put alternative text here" />
            <h6 class="font-bold text-[#FFB4C6] md:text-3xl text-2xl  pb-4">{% translate 'Concert'%}</h6>
            <p class="md:text-2xl text-xl text-[#727272] text-center pb-6">
              {% translate 'See how your audience partied and had fun in your concert.'%}
              
            </p>
            <a href="#"
              class="py-3 px-6 text-lg text-white font-semibold mt-auto text-center bg-[#00A8FE] rounded-lg border border-[#00A8FE] hover:bg-transparent hover:text-[#00A8FE] transition duration-300">
              {% translate 'Set up your Concert gallery now'%}
            </a>
          </div>
          <div class="flex flex-col items-center bg-white rounded-lg px-14 pb-6">
            <img src="{% static "images/service_5.png" %}" alt="Put alternative text here" />
            <h6 class="font-bold text-[#FFB4C6] md:text-3xl text-2xl pb-4">{% translate 'Trip'%}</h6>
            <p class="md:text-2xl text-xl text-[#727272] text-center pb-6">{% translate 'Gather all photos in one place from all travelers.'%}</p>
            <a href="#"
              class="py-3 px-6 text-lg text-white font-semibold mt-auto text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">
              {% translate 'Set up your Trip gallery now'%}</a>
          </div>
          <div class="flex flex-col items-center bg-white rounded-lg px-14 pb-6">
            <img src="{% static "images/service_3.png" %}" alt="Put alternative text here" />
            <h6 class="font-bold text-[#FFB4C6] md:text-3xl text-2xl  pb-4">{% translate 'Party'%}</h6>
            <p class="md:text-2xl text-xl text-[#727272] text-center pb-6">{% translate 'Gather all photos in one place from all.'%} 
            </p>
            <a href="#"
              class="py-3 px-6 text-lg text-center text-white font-semibold mt-auto bg-[#00A8FE] rounded-lg border border-[#00A8FE] hover:bg-transparent hover:text-[#00A8FE] transition duration-300">
              {% translate 'Set up your Party Event gallery now'%}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our services setup steps -->

  <section class="flex items-center justify-center lg:mb-32 mb-10">
    <div class="container w-9/1">
      <div class=" md:space-y-16 space-y-10">
        <h3 class="text-3xl md:text-5xl font-bold text-center lg:pb-36 pb-12 uppercase">
          <span class="text-[#00A8FE]">{% translate 'Set up with 2'%}</span>
          <span class="text-[#FFB4C6]"> {% translate 'easy Steps'%}</span>
        </h3>
        <div class="flex flex-col lg:flex-row md:gap-52 gap-16 items-center lg:items-stretch">
          <div
            class="relative flex flex-col flex-1 items-center space-y-6 cursor-pointer transition transform hover:-translate-y-2">
            <h6 class="font-bold text-[#727272] md:text-3xl text-xl">{% translate 'Step 1'%}</h6>
            <p class="md:text-2xl text-lg text-[#727272] text-center">
              {% translate 'Upload a CSV/Excel file of contacts'%}
            </p>
            <img src="{% static "images/csv.svg" %}" class="md:w-auto w-20" alt="Put alternative text here" />
          </div>
  
          <div
            class="flex flex-col flex-1 items-center space-y-6 cursor-pointer transition transform hover:-translate-y-2 before:bg-[url({% static '/images/shape_2.svg' %})] before:bg-no-repeat before:bg-contain before:-left-[70%] before:top-[60%] before:absolute lg:before:w-full before:h-10 after:bg-[url({% static '/images/shape_2.svg' %})] after:bg-no-repeat after:bg-contain after:left-[90%] after:top-[60%] after:absolute lg:after:w-full after:h-10">
            <h6 class="font-bold text-[#727272] md:text-3xl text-xl">{% translate 'Step 2'%}</h6>
            <p class="md:text-2xl text-lg text-[#727272] text-center">
              {% translate 'Set a time and Wording for the Thank you message'%}
            </p>
            <img src="{% static "images/clock.svg" %}" class="md:w-auto w-20" alt="Put alternative text here" />
          </div>
  
          <div
            class="flex flex-col flex-1 items-center space-y-6 cursor-pointer transition transform hover:-translate-y-2">
            <h6 class="font-bold text-[#727272] md:text-3xl text-xl">{% translate 'Thanks'%}</h6>
            <p class="md:text-2xl text-lg text-[#727272] text-center">
              {% translate 'Enjoy a Automatic updating gallery'%}
            </p>
            <img src="{% static "images/smiley.svg" %}" class="md:w-auto w-20" alt="Put alternative text here" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Still scrolling section -->

  <section class="flex items-center justify-center lg:pb-28 pb-10">
    <div class="container flex w-9/1 space-y-18">
      <div class="flex flex-col items-center space-y-6">
        <h3 class="text-3xl md:text-5xl font-bold text-center uppercase">
          <span class="text-[#00A8FE]">{% translate 'Still Scrolling?'%}</span>
          <span class="text-[#FFB4C6]">{% translate 'Stop'%}</span>
        </h3>
        <p class="md:text-2xl text-xl text-[#727272] text-center lg:w-2/3 w-full">
          {% translate 'it takes less than 2 minutes to create an event. sign-up and give us a spin! questions? we’re always available on the chat bubble on the bottom right.'%} 
        </p>
        <a href="#"
          class="py-3 px-6 text-lg text-white font-semibold mt-auto text-center bg-[#FFB4C6] rounded-lg border border-[#FFB4C6] hover:bg-transparent hover:text-[#FFB4C6] transition duration-300">
          {% translate 'Create your Event'%}</a>
      </div>
    </div>
  </section>
  {% include "commons/footer.html" %}
  {% include "commons/whatsapp_floating_button.html" %}
  <script src="{% static '/js/flowbite.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/wow.min.js' %}" type="text/javascript"></script>
  <script>
    new WOW().init();
    $(window).on('beforeunload', function(){
      $(window).scrollTop(0);
    });
  </script>

</body>
</html>